body {
    color: #000000;
    font-size: 2em;
	font-family: "times new roman", "verdana",sans-serif;
}

.content-footer,
.masterhead-heading, 
.masterhead-intro {
  text-align: center;
  
}

.masterhead {
    padding: 2em 0;
    background-image: url('../thinkful-aboutme/aboutme-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 80%;
    border-top: solid 1em #B32D00;
	color:white;
	height:400px;
	margin-top: -10px;
	
}

.masterhead-intro {
    /* Layout Declarations */
    margin-bottom: 0em;
    /* Typography Declarations */
    font-family:'Lora', serif;
    font-size: 1em;
}

.masterhead-heading {
    /* Layout Declarations */
    margin-top: -0.2em;
    /* Typography Declarations */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
}

.content-footer,
.introduction-section,
.location-section,
.questions-section {
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1em;
}

.social > li {
    display: inline-block;
}

.introduction-section > p,
.location-section > p,{
    /* Typography Declarations */
    font-weight: 200;
    letter-spacing: 0.05em;
	text-align:justify;
	
}

.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
	color:
}

section > h1 {
    margin-top: 2em;
	color:#B32D00; 
}

section {
margin-top:0px; 
}

.questions-section > p{ 
text-align:justify; 
}

.content-footer> p{
 text-align:center; 
}
